@import '../../../../styles/variables/variables';

.img {
  width: 80px;
  height: 80px;
  margin: 10px;
}

.title {
  text-align: center;
  font-size: $fz-title-form;
  font-weight: $fw-title;
  margin-bottom: 12px;
}

.titleDescription {
  text-align: center;
  font-weight: $fw-title;
  margin-bottom: 8px;
}

.instruction {
  margin-bottom: 10px;
}

.descriptionBook {
  resize: none;
  padding: 5px 12px;
  height: 40px;
  margin-bottom: 18px;
  &::-webkit-scrollbar {
    display: none;
  }
}

.error {
  border: 1px solid red;
}
.errorMassage {
  color: red;
}

.addCover {
  position: absolute;
  width: 100px;
  height: 90px;
  background: $primary-background;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  &::-webkit-file-upload-button {
    cursor: pointer;
  }
}
.checkboxContainer {
  position: relative;
  .checkbox {
    position: absolute;
    top: 3px;
    left: -20px;
  }
}
