.img{
  width: 80px;
  height: 80px;
  margin: 10px;
}

.text{
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 12px;
}
.titleDescription{
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 51px;

}
.descriptionBook{
  resize: none;
  padding: 12px;
}



