.label {
  font-size: 18px;
  text-transform: capitalize;
}

.input {
  margin: 4px 0 8px;
  height: 24px;
  width: 200px;
  padding: 4px;
}

.formError {
  color: red;
  margin-bottom: 10px;
  text-align: center;
}

