@import "src/styles/variables/variables";

.formButton {
  width: 180px;
  height: 40px;
  margin: 26px 0 20px;
  border-radius: $primary-border-radius;
  background: $primary-background;
  color: $primary-color;
  border: $primary-border;
}

