
.mainBlockLibraryPage{
  margin-top: 80px;
  flex: 1 1 auto;
  .wrapper {
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
      font-size: 38px;
      text-align: center;
    }
  }
}