.nav {
	width: 250px;
	height: 100%;
	background: rgb(226, 226, 226);
	padding: 24px;
	.bookItem {
		padding: 10px 12px;
		margin-bottom: 10px;
		border-radius: 12px;
		background: aliceblue;
		&:hover {
			cursor: pointer;
			color: aliceblue;
			background-color: #3c77ec;
		}
	}
}