@import "../../../styles/variables/variables";
@import "../../../styles/mixins/contentCenterFlex";
@import "../../../styles/mixins/booksIcons";

.card {
  width: 222px;
  height: 222px;
  position: relative;
  cursor: pointer;
  border-radius: $primary-border-radius;

  .front, .back {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0;
    top: 0;
    transition: 1s;
    backface-visibility: hidden;
    background-color: #fff;
    border: $primary-border;
    border-radius: $primary-border-radius;
    padding: 10px;

    img {
      max-width: 200px;
      max-height: 200px;
      object-fit: cover;
      border-radius: $primary-border-radius;
    }

    .title {
      text-align: center;
      font-size: $fz-title-book;
      font-weight: $fw-title;
      text-transform: capitalize;
      margin: 10px;
      word-break: break-word;
    }

    .description {
      word-break: break-word;
    }
  }

  .front {
    @include contentCenterFlex;
  }

  .back {
    overflow: auto;

    .favoriteStar {
      @include booksIcons;
      right: 10px;
    }

    .favoriteActive {
      opacity: 1;
    }

    .isAuth {
      display: none;
    }

    .publicImg {
      @include booksIcons;
      left: 10px;
    }

    .publicActive {
      opacity: 1;
    }
  }


  &:hover .front {
    transform: rotateY(180deg);
  }

  &:hover .back {
    transform: rotateY(360deg);
  }
}

.back {
  transform: rotateY(180deg);
}




