@import "src/styles/mixins/contentCenterFlex";
@import "src/styles/mixins/message";
@import "src/styles/variables/variables";

.window {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(200px, 1fr);
  justify-items: center;
  gap: 16px;

  .head {
    height: 40px;
    background: #485e89;
    width: 100%;
    position: relative;
    @include contentCenterFlex;

    h3 {
      color: $primary-color;
    }

    .chatListImg {
      position: absolute;
      top: 8px;
      left: 10px;
      cursor: pointer;
      z-index: 100;
    }
  }
  .chatWrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: flex-end;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    .emptyChat {
      margin-bottom: 120px;
      text-align: center;
    }
    &::-webkit-scrollbar {
      display: none;
    }

    .chat {
      width: 100%;
      max-height: calc(100vh - 290px);
      .emptyChat {
        margin-bottom: 120px;
        text-align: center;
        font-size: 28px;
      }

      .receiveUser {
        text-align: left;
        padding: 4px 0;
        margin: 2px 0;
        color: aliceblue;
        position: relative;
        cursor: pointer;

        .message {
          background: #06315f;
          border-radius: 12px 12px 12px 0;
          @include message;
        }
      }

      .sendingUser {
        text-align: right;
        position: relative;
        cursor: pointer;

        .message {
          background: #176cc1;
          border-radius: 12px 12px 0 12px;
          @include message;
          margin-left: 10px;
        }
      }
    }
    .scrollToBottomBtn {
      position: fixed;
      bottom: 150px;
      right: 15px;
      z-index: 1000;
      pointer-events: none;
      opacity: 0;
      transition-delay: 0;
      transition-duration: 0.3s;
    }

    .scrollToBottomBtnActive {
      cursor: pointer;
      position: fixed;
      bottom: 150px;
      right: 15px;
      z-index: 1000;
      pointer-events: auto;
      transition-delay: 0.7s;
      opacity: 1;
    }

    .chatMenu {
      width: 180px;
      background-color: #b6b6b6;
      overflow: hidden;
      border-radius: 12px;
      box-sizing: border-box;
      position: absolute;
      bottom: 20px;
      right: 40px;
      z-index: 200;
      .chatMenuList {
        .chatMenuItem {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 6px 10px;
          color: black;
          span {
            font-weight: 500;
          }
          &:hover {
            cursor: pointer;
            background-color: #686b6d;
            color: white;
          }
        }
      }
    }
  }
}
