@import 'src/styles/variables/variables';
@import 'src/styles/mixins/flexColumn';

.form {
  width: 340px;
  height: 380px;
  border: $primary-border;
  border-radius: $primary-border-radius;
  overflow: hidden;
  @include flexColumn;
  padding: 60px 10px 0;
  box-sizing: border-box;
  margin: 12px;
  p {
    a {
      font-size: 18px;
      font-weight: 500;
      text-transform: capitalize;
    }
  }
}
