@import "../../styles/mixins/contentCenterFlex";
@import "../../styles/mixins/headerAndFooterSize";
@import "src/styles/variables/variables";

.header {
  @include headerAndFooterSize(100%,80px);
  @include contentCenterFlex;
  position: fixed;
  top: 0;
  left: 0;
  background: $primary-background;
  z-index: 100;
  a {
    color: $primary-color;
    font-size: 32px;
    font-weight: $fw-title;
  }
  .userLink {
    position: fixed;
    top: 15px;
    right: 15px;
    cursor: pointer;
  }
}
