@import "../../styles/mixins/contentCenterFlex";
@import "../../styles/mixins/headerAndFooterSize";
@import "src/styles/variables/variables";

.header {
  @include headerAndFooterSize(100%,80px);
  @include contentCenterFlex;
  position: fixed;
  top: 0;
  left: 0;
  background: $primary-background;
  z-index: 1000;
  a {
    color: $primary-color;
    font-size: 32px;
    font-weight: $fw-title;
  }
  .userLink {
    position: fixed;
    top: 15px;
    right: 15px;
    cursor: pointer;
    @media screen and (max-width: 319px){
      display: none;
    }
  }
  .menuBtn{
    display: none;
    top: 15px;
    left: 15px;
    cursor: pointer;
  }
  .showMenu{
    display: block;
    position: fixed;
  }
}
