@import "src/styles/mixins/headerAndFooterSize";
@import "src/styles/variables/variables";

.footer {
  @include headerAndFooterSize(100%, 40px);
  background: $primary-background;
  position: relative;
  z-index: 500;
}
