.addBookBtn {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 0.5px solid #b8b8b8;
  background: rgb(226, 226, 226);

  &:hover {
    background-color: #3c77ec;
    color: aliceblue;
    border: none;
  }

  span {
    font-weight: 500;
  }
}

.nextButton {
  width: 100px;
  height: 32px;
  border-radius: 12px;
  border: 0.5px solid rgb(92, 92, 92);
  margin: auto;
  color: aliceblue;
  background-color: #3c77ec;
}

.prevButton {
  width: 100px;
  height: 32px;
  border-radius: 12px;
  border: 0.5px solid rgb(92, 92, 92);
  margin: auto;
  color: aliceblue;
  background-color: #0ad5dc;
}

.subButton{
  width: 100px;
  height: 32px;
  border-radius: 12px;
  border: 0.5px solid rgb(92, 92, 92);
  margin: auto;
  color: aliceblue;
  background-color: #07248e;
}

.buttonContainer{
  margin: auto;
  display: flex;
  justify-content: space-around;
  width: 240px;
}