@import 'src/styles/mixins/navButtonAddingBookForm';
@import 'src/styles/variables/variables';
.addBookBtn {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: $primary-border;
  background: rgb(226, 226, 226);

  &:hover {
    background-color: $primary-background;
    color: $primary-color;
    border: none;
  }

  span {
    font-weight: $fw-title;
  }
}

.nextButton {
  @include navButtonAddingBookForm(#3c77ec);
}

.prevButton {
  @include navButtonAddingBookForm(#0ad5dc);
}

.subButton {
  @include navButtonAddingBookForm(#07248e);
}

.buttonContainer {
  margin: auto;
  display: flex;
  justify-content: space-around;
  width: 240px;
}
