@import '../../../styles/mixins/navLinkBookItem';
@import '../../../styles/mixins/contentCenterFlex';
@import '../../../styles/variables/variables';

.nav {
  width: 0;
  height: 100%;
  z-index: 100;
  background: rgba(226, 226, 226, 0.85);
  position: fixed;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.262, 1.55);

  .bookList {
    display: flex;
    flex-direction: column;
    padding: 24px;
    box-sizing: border-box;

    .bookItem {
      border-radius: 12px;
      margin-bottom: 12px;
      height: 40px;
      overflow: hidden;
      position: relative;

      .searchBtn {
        width: 26px;
        height: 26px;
        position: absolute;
        top: 6px;
        right: 8px;
        cursor: pointer;
      }

      .link {
        white-space: nowrap;
        color: $secondary-color;
        @include navLinkBookItem(block, 10px 12px, aliceblue);

        &:hover {
          background: #4a7dea;
          color: $primary-color;
        }
      }

      .activeLink {
        white-space: nowrap;
        @include navLinkBookItem(block, 10px 12px, aliceblue);
        background: $primary-background;
        color: $primary-color;
      }
    }

    .searchContainer {
      @include contentCenterFlex;
      display: none;
      padding: 10px 0;
      margin-bottom: 12px;
      background: aliceblue;
      border-radius: $primary-border-radius;

      .search {
        padding: 6px 8px;
        border-radius: $primary-border-radius;
        border: 0.5px solid rgb(92, 92, 92);
      }
    }

    .searchActive {
      display: flex;
    }
  }
}

.navActive {
  position: fixed;
  z-index: 100;
  background: rgba(226, 226, 226, 0.85);
  transition-duration: 1.2s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.262, 1.55);
  width: 280px;
}
