@import "../../../styles/mixins/navLinkBookItem";
@import "../../../styles/variables/variables";

.nav {
  width: 250px;
  height: 100%;
  background: rgb(226, 226, 226);
  padding: 24px;

  .bookList {
    display: flex;
    flex-direction: column;

    .bookItem {
      @include navLinkBookItem(10px 12px, 10px, 12px, aliceblue);
      color: $secondary-color;

      &:hover {
        cursor: pointer;
        color: $primary-color;
        background-color: #3c77ec;
      }
    }

    .activeLink {
      @include navLinkBookItem(10px 12px, 10px, 12px, aliceblue);
      background: $primary-background;
      color: $primary-color;
    }
  }

}
