@import "src/styles/variables/variables";

.form{
  width: 340px;
  height: 380px;
  border: $primary-border;
  border-radius: $primary-border-radius;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 60px 10px 0;
  box-sizing: border-box;
	p{
		a{
			font-size: 18px;
			font-weight: 500;
			text-transform: capitalize;
		}
	}
}