@import "src/styles/variables/variables";
@import "src/styles/mixins/navLinkBookItem";
@import "src/styles/mixins/removeChat";
@import "src/styles/mixins/scrollbar";

.nav {
  width: 270px;
  background: #eaeaee;
  padding: 20px;
  box-sizing: border-box;
  transition-duration: 1s;
  position: relative;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.262, 1.55);

  .link {
    white-space: nowrap;
    color: $secondary-color;
    @include navLinkBookItem(block, 10px 12px, aliceblue);
    border-radius: 12px;
    margin-bottom: 10px;
    position: relative;
    transition-delay: 0.4s;
    transition-duration: 0.5s;
    display: inline-block;
    transition-property: opacity;
    overflow-y: auto;
    width: 230px;
    box-sizing: border-box;
    @include scrollbar(6px, rgb(68, 68, 68));

    &:hover {
      background: #2193d0;
      color: $primary-color;
    }

    .item {
      margin-bottom: 6px;
    }

    .titleBook {
      font-weight: $fw-title;
    }

    .removeChat {
      @include removeChat;
    }
  }

  .activeLink {
    white-space: nowrap;
    @include navLinkBookItem(block, 10px 12px, aliceblue);
    border-radius: 12px;
    background: #1b83b8;
    color: $primary-color;
    margin-bottom: 10px;
    position: relative;
    transition-delay: 0.4s;
    transition-duration: 0.5s;
    transition-property: opacity;
    display: inline-block;
    overflow-y: auto;
    box-sizing: border-box;
    width: 230px;

    @include scrollbar(6px, rgb(68, 68, 68));
    .item {
      margin-bottom: 6px;
    }

    .titleBook {
      font-weight: $fw-title;
    }

    .removeChat {
      @include removeChat;
    }
  }
}

.isOpenNav {
  width: 0;
  background: #eaeaee;
  padding: 0px;
  box-sizing: border-box;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.262, 1.55);

  .link {
    opacity: 0;
    transition-duration: 0.4s;
    transition-delay: 0.35s;
  }

  .activeLink {
    opacity: 0;
    transition-duration: 0.4s;
    transition-delay: 0.35s;
  }
}
